body 
{
    // background: url("/assets/images/5.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

.a1 {
    background: url("/assets/images/1.jpg") no-repeat center center fixed; 
}
.a2 {
    background: url("/assets/images/2.jpg") no-repeat center center fixed; 
}
.a3 {
    background: url("/assets/images/3.jpg") no-repeat center center fixed; 
}
.a4 {
    background: url("/assets/images/4.jpg") no-repeat center center fixed; 
}
.a5 {
    background: url("/assets/images/5.jpg") no-repeat center center fixed; 
}
.a6 {
    background: url("/assets/images/6.jpg") no-repeat center center fixed; 
}
.a7 {
    background: url("/assets/images/7.jpg") no-repeat center center fixed; 
}
.a8 {
    background: url("/assets/images/8.jpg") no-repeat center center fixed; 
}
.a9 {
    background: url("/assets/images/9.jpg") no-repeat center center fixed; 
}
.a10 {
    background: url("/assets/images/10.jpg") no-repeat center center fixed; 
}
.a11 {
    background: url("/assets/images/11.jpg") no-repeat center center fixed; 
}
.a12 {
    background: url("/assets/images/12.jpg") no-repeat center center fixed; 
}
